{
  "swagger": "2.0",
  "info": {
    "title": "kau-qj (kauqj.shop)",
    "description": "sanhak on kauqj.shop",
    "version": "1.0.0"
  },
  "host": "kauqj.shop",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/test": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/users": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "example": "any"
                },
                "userPw": {
                  "example": "any"
                },
                "grade": {
                  "example": "any"
                },
                "major": {
                  "example": "any"
                },
                "phoneNum": {
                  "example": "any"
                },
                "school": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/login": {
      "post": {
        "tags": [
          "login"
        ],
        "summary": "로그인",
        "description": "ID/PW를 입력하여 로그인을 시도합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "example": "any"
                },
                "content": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "1000": {
            "description": "성공 - 로그인 성공",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/app/users/{userId}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cookie",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nickname": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/qj/myJob": {
      "post": {
        "tags": [
          "QJ"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/qj/newJob": {
      "post": {
        "tags": [
          "QJ"
        ],
        "description": "",
        "parameters": [
          {
            "name": "job",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/mypage/getuserinfo/{userIdx}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userIdx",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/mypage/updateuserinfo/{userIdx}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "userIdx",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/mypage/{userIdx}/QJstorage": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userIdx",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/mypage/getuserprofile/{userIdx}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userIdx",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/mypageupdateuserprofile/{userIdx}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "userIdx",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/home/recruit": {
      "get": {
        "tags": [
          "home"
        ],
        "summary": "채용 공고 조회",
        "description": "최근 채용 공고 목록을 가져옵니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "1000": {
            "description": "성공 - 채용 공고 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "채용 공고 제목"
                          },
                          "url": {
                            "type": "string",
                            "description": "채용 공고 URL"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": [
                    {
                      "title": "[삼성전자로지텍] 2023년도 하반기 신입사원 채용",
                      "url": "https://career.kau.ac.kr/ko/recruit/intro/school/view/11432?p=1"
                    },
                    {
                      "title": "[한국석유관리원] 2023년 직무중심 정규직 신입직원 채용",
                      "url": "https://career.kau.ac.kr/ko/recruit/intro/school/view/11430?p=1"
                    },
                    {
                      "title": "[하나자산신탁] 2023년 하반기 신입사원 채용",
                      "url": "https://career.kau.ac.kr/ko/recruit/intro/school/view/11428?p=1"
                    },
                    {
                      "title": "[이스트스프링자산운용] 2024 상반기 인턴채용(주식/채권)",
                      "url": "https://career.kau.ac.kr/ko/recruit/intro/school/view/11421?p=1"
                    }
                  ]
                }
              }
            }
          },
          "7000": {
            "description": "실패 - 채용 공고가 존재하지 않습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "description": "요청 실패 여부 (false)"
                    },
                    "code": {
                      "type": "integer",
                      "description": "응답 코드 (7000)"
                    },
                    "message": {
                      "type": "string",
                      "description": "응답 메시지 (채용 공고가 존재하지 않습니다.)"
                    }
                  }
                },
                "example": {
                  "isSuccess": false,
                  "code": 7000,
                  "message": "실패 - 채용 공고가 존재하지 않습니다."
                }
              }
            }
          }
        }
      }
    },
    "/board/posts": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "cookie",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "postName": {
                  "example": "any"
                },
                "title": {
                  "example": "any"
                },
                "mainText": {
                  "example": "any"
                },
                "postType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "cookie",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/board/posts/{postIdx}": {
      "patch": {
        "description": "",
        "parameters": [
          {
            "name": "postIdx",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cookie",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "mainText": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "postIdx",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cookie",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}